@import '../../constants/styles/colors.scss';

.filter-button {
    background: #fff;
    border: 1px solid;
    border-radius: 5px;
    color: #888;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    transition: all .3s;

    &:hover {
        background: #fff;
        cursor: pointer;

        &.boxOffice {
            color: $dollar-color;
        }

        &.metascore {
            color: $reviews-color;
        }
    }

    &.active {
        color: #fff;

        &.boxOffice {
            border-color: $dollar-color;
            background: $dollar-color;
        }

        &.metascore {
            border-color: $reviews-color;
            background: $reviews-color;
        }
    }
}
