@import '../../constants/styles/colors.scss';
$transition: all .3s;
$base-color: #888;

.sort-button {
    background: #fff;
    border: 2px solid;
    color: $base-color;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 8px;
    margin: 5px;
    transition: $transition;

    .btn-title {
        font-weight: 600;
    }

    .btn-icon {
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 5px;
    }

    &:hover {
        cursor: pointer;

        &.boxOffice {
            color: $dollar-color;
        }

        &.metascore {
            color: $reviews-color;
        }
    }

    &.active {
        cursor: default;

        &.boxOffice {
            background: $dollar-color;
            border-color: $dollar-color;

            .btn-icon, .btn-title {
                color: #fff;
            }
        }

        &.metascore {
            background: $reviews-color;
            border-color: $reviews-color;

            .btn-icon, .btn-title {
                color: #fff;
            }
        }
    }
}
