.sort-button {
    background: #cc3838;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    margin: 5px;

    &:hover {
        background: #a52929;
        cursor: pointer;
    }
}
