.genres-filter {
    width: 310px;
    margin-top: 20px;
    text-align: left;

    .genres-filter-list {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-button {
        margin: 5px;
    }
}
