.genres-filter {
    width: 340px;
    margin-top: 20px;

    .genres-filter-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-button {
        margin: 5px;
    }
}
