$dollar-color: #4da000;
$dollar-color-light: #79d127;
$reviews-color: orange;
$reviews-color-light: #fcca6f;
$dark-primary: #464646;
$light-primary: #f4f4f4;
$light-primary-offset: #dcdcdc;
$bg-color: $light-primary;
$fg-color: $dark-primary;