@import './constants/styles/colors.scss';

body {
  background-color: $bg-color;
}

.App {
  min-height: 100vh;
  text-align: center;
  color: $fg-color;
  background-color: $bg-color;

  .article-title {
    font-size: 24px;
    padding-top: 30px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

.primary-visualizations {
  display: flex;
  flex-flow: row wrap;
  padding: 0 30px;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: $fg-color;
}

.chart-container {
  position: relative;

  .chart-title {
    margin: 20px;
  }

  .chart-standard-fg {
    fill: $fg-color;

    &.hovered-movie {
      &.boxOffice {
        fill: $dollar-color;
      }

      &.metascore {
        fill: $reviews-color;
      }
    }

    &.selected-movie {
      stroke-width: 6;

      &.boxOffice {
        fill: $dollar-color;
        stroke: $dollar-color-light;
      }

      &.metascore {
        fill: $reviews-color;
        stroke: $reviews-color-light;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .tick {
    fill: #8d8d8d;
  }

  .axis-label {
    font-size: 12px;
    fill: #707070;

    &.y-axis-label {
      transform: rotate(-90deg);
      transform-origin: left center;
    }
  }

  .bar-value {
    fill: $bg-color;
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
    pointer-events: none;
  }

  &.primary-chart {
    margin-bottom: 20px;
  }
}

.no-data-message {
  fill: $fg-color;
  text-anchor: middle;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.brush-timeline {
  display: flex;
  color: $bg-color;

  .timeline-explanation {
    width: 20%;
    padding: 30px;
    font-size: 16px;
    text-align: left;
  }

  .year-text {
    fill: $bg-color;
    font-size: 14px;
  }
}

.timeline-fixed {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: #000;

  &.timeline-collapsed {
    height: 80px;
  }
}

.scatter-dot {
  cursor: pointer;
}

.toggle-chart-height {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background: $light-primary;
  border: none;
  color: black;
  text-decoration: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  &.collapse-chart {
    transform: rotate(180deg);
  }

  &:hover {
    background: #dadada;
    cursor: pointer;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
