@import '../../constants/styles/colors.scss';

.display-options {
  display: flex;
  justify-content: space-around;
  width: 45%;
  padding: 25px 0;
  margin-right: 15px;
  text-align: left;
  background: #fff;

  .sort-filter {
    display: flex;
    flex-direction: column;

    .sort-options {
      min-width: 185px;
    }
  }

  .active-filters {
    text-align: right;
    width: 250px;
    font-size: 16px;
  
    .active-filter {
      font-weight: bold;
      font-size: 21px;
      text-transform: capitalize;
  
      &.boxOffice {
        color: $dollar-color;
      }
  
      &.metascore {
        color: $reviews-color;
      }
    }
  }
}